<section class="bg-secondary text-light">
    <div class="container pt-2 pb-2">
        <div class="col-md-4">
           
            <article> <img src="/images/logo.png" width="70" /> © 2023 All rights reserved.</article>
        </div>
    </div>
</section>