<nav class="flex-row pt-5">
    <div class="nav-item px-3">
    
        <NavLink class="nav-link form-control mb-3" href="personalprofile" Match="NavLinkMatch.All">
            <i class="bi bi-person-fill"></i> View Profile
        </NavLink>
        <NavLink class="nav-link form-control mb-3" href="personalprofile" Match="NavLinkMatch.All">
            <i class="bi bi-lock-fill"></i>  Change Password
        </NavLink>
       
    </div>
</nav>

@code {

}
