@page "/suggestions"



<section class="bg-light min-vh-100">
   
    <div class="container pb-5">
        <div class="col-md-12 p-5">
            <div class="text-center mb-5 p-5">
                <h2 >Meet Our Team</h2>

                <p class="lead">If you need assistance in finding a doctor, please reach out to us at the following contact details</p>
                <p class="lead">Your health is important to us, and we're here to help you get the appropriate care.</p>
          </div>
            <div class="container marketing">

                <!-- Three columns of text below the carousel -->
                <div class="row text-center">
                    <div class="col-lg-3">
                        <img src="/images/md.jpg" class="bd-placeholder-img rounded-circle" width="110" height="110" />
                        <h4 class="fw-normal">Dr.abc</h4>
                        <p>Some representative placeholder content for the three columns of text below.</p>
                        <p><a class="btn btn-primary" href="#">View details »</a></p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-3">
                        <img src="/images/fd.jpg" class="bd-placeholder-img rounded-circle" width="110" height="110" />      <h4 class="fw-normal">Dr.abc</h4>
                        <p>Some representative placeholder content for the three columns of text below</p>
                        <p><a class="btn btn-primary" href="#">View details »</a></p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-3">
                        <img src="/images/md.jpg" class="bd-placeholder-img rounded-circle" width="110" height="110" />        <h4 class="fw-normal">Dr.abc</h4>
                        <p>Some representative placeholder content for the three columns of text below</p>
                        <p><a class="btn btn-primary" href="#">View details »</a></p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-3">
                        <img src="/images/fd.jpg" class="bd-placeholder-img rounded-circle" width="110" height="110" />         <h4 class="fw-normal">Dr.abc</h4>
                        <p>Some representative placeholder content for the three columns of text below,</p>
                        <p><a class="btn btn-primary" href="#">View details »</a></p>
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
                <!-- START THE FEATURETTES -->

              

               
                <!-- /END THE FEATURETTES -->

            </div>
        </div>
    </div>
</section>

@code {

    [Parameter] public string? Message { get; set; }
}
