@page "/thankyou"
<div class="container min-vh-100">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-center  align-items-center  min-vh-100">
                <div class="bg-light p-5 text-center">
                    <i class="bi bi-envelope-check-fill display-3 text-danger"></i>
                    <h1 class="h1 fw-bolder pt-5">Thanks for submitting!</h1>
                    <p class="lead">your message has been sent!</p>
                    <a href="/" class="btn btn-primary mt-5">Go to main page</a>
                </div>
            </div>
        </div>
    </div>
</div>



@code {

}
