@page "/underage"
<div class="container min-vh-100">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-center  align-items-center  min-vh-100">
                <div class="bg-light p-5">
                    <h1 class="h1 fw-bolder pt-5">Recommendation</h1>
                    <p class="lead">You're currently underage, and we regret to inform you that you cannot proceed for further assessment. Kindly consult a local consultant for additional guidance.</p>
                    <a href="/" class="btn btn-primary mt-5">Go to main page</a>
                </div>
            </div>
        </div>
    </div>
</div>



@code {

}
