@page "/videolink"

<section class="bg-light pb-5 pt-5" id="youtube">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-3">
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <iframe width="100%" height="715" src="https://www.youtube.com/embed/IMON9zmViu4" title="Sleep Apnea, Causes,Signs and Symptoms, DIagnosis and Treatment." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>

</section>

<section class="bg-light pb-5 pt-5">
    <div class="container">
       <div class="row">
            <div class="col-md-12">
                <iframe width="100%" height="703" src="https://www.youtube.com/embed/BCce_vbiwxE" title="WatchPAT ONE Home Sleep Apnea Test - How to Use" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
       </div>
    </div>

</section>





@code {


}
